@keyframes loading {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 28px 0;
  }
}

body,
html {
  overflow-x: hidden;
  width: 100%
}

body {
  font: 16px/28px 'Lora', serif;
  color: #252525;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

img {
  max-width: 100%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

hr {
  border: 0;
  height: 1px;
  width: 100%;
}

.stop-scrolling {
  overflow: hidden;
  height: 100%;
}

.btn {
  display: inline-block;
  padding: 5px 0;
  width: 40%;
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
}

.btn.primary {
  font-weight: bold;
  color: #EEEEEE;
  width: 60%;
}

.buttons {
  display: flex;
  justify-content: center;
}

.bgImage {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skewY(5deg);
  transform-origin: bottom right;
  z-index: -111;
}

input,
textarea {
  text-indent: 3%;
  border-radius: 5px;
  transition: box-shadow 0.5s linear;
}

input:focus,
textarea:focus {
  outline: none !important;
  border-bottom: 1px solid #4db8e3;
  box-shadow: 0 0 2px 2px #4db8e3;
}

/* Header
-----------------------------------------------------------------------------*/

#header {
  position: relative;
  width: 100%;
}

#header #desktopHeader {
  display: none;
}

#header #mobileHeader {
  position: absolute;
  width: 100%;
  z-index: 9999999;
}

#header #mobileHeader .headerIcons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  opacity: 0.98;
  transition: background-color .5s ease-in-out;
}

#header #mobileHeader .logo {
  width: 70px;
}

#header #mobileHeader .logo img {
  width: auto;
  display: block;
}

#header #mobileHeader .cross {
  width: 35px;
  cursor: pointer;
}

#header #mobileHeader .cross img {
  display: block;
}

#header #mobileHeader .hamburgerBtn {
  width: 35px;
  cursor: pointer;
}

#header #mobileHeader .hamburgerBtn img {
  display: block;
}

#header #mobileHeader .hamburgerMenu {
  position: relative;
  height: 100vh;
  opacity: 0.97;
}

.hamburgerBg {
  position: absolute;
  top: 0;
  background: #252525;
  opacity: 0;
  z-index: -9999;
  width: 100%;
  height: 100%;
  transition: opacity .5s ease-in-out;
}

#header #mobileHeader .hamburgerMenu #hamburgerDropdown {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 80vh;
  align-items: center;
  padding-top: 2vh;
  margin-top: -1px;
}

#header #mobileHeader .hamburgerMenu #hamburgerDropdown .soMeIcons {
  display: flex;
  justify-content: space-between;
  margin: -5%;
  margin-top: 12vh;
}

#header #mobileHeader .hamburgerMenu #hamburgerDropdown .soMeIcons a {
  width: 50px;
  margin: 5%
}

#header #mobileHeader .hamburgerMenu #hamburgerDropdown a {
  text-align: center;
  font-size: 1.1rem;
  text-decoration: none;
  color: #EEEEEE;
  width: 70%;
}

#header #mobileHeader .hamburgerMenu #hamburgerDropdown hr {
  width: 70%;
  margin: 3vh 0;
  background-color: #0d86b6;
}

#header #mobileHeader .hamburgerMenu,
.cross {
  display: none;
}

/* Middle
-----------------------------------------------------------------------------*/

/* Home */

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(25, 25, 25, 0.8), rgba(25, 25, 25, 0.8)), url('http://res.cloudinary.com/dndvaqitq/image/upload/c_scale,h_500/v1530206370/computerBg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

#home h1 {
  margin-top: 45vh;
  margin-bottom: 3vh;
  color: #EEEEEE;
}

#home h2 {
  color: #0d86b6;
  text-transform: capitalize;
}

#home .soMeIcons {
  display: flex;
  justify-content: center;
  margin: 12vh 0 13vh 0;
  width: 100%;
}

#home .soMeIcons a {
  margin: 0 4%;
}

#home .soMeIcons a .soMeIcon {
  width: 35px;
  transition: transform .5s;
}

#home .soMeIcons a .soMeIcon:hover {
  transform: scale(1.5);
}

#home .arrow {
  width: 30px;
}

/* about */

#about {
  text-align: center;
  position: relative;
  padding-bottom: 10%;
}

#about .bgImage {
  background: #EEEEEE;
}

#about h2 {
  padding: 20% 0 5% 0;
}

#about .sectionsFlex .sectionFlexItem .content {
  padding: 0 3% 3% 3%;
  margin: 10% 0;
}

#about .sectionsFlex .sectionFlexItem .content h3 {
  margin-bottom: 5%;
}

#about .sectionsFlex .sectionFlexItem .content h3::after {
  display: block;
  content: " ";
  margin: 0 100px;
  margin-top: 5px;
  border: 0;
  height: 2px;
  background: #0d86b6;
}

#about .sectionsFlex .sectionFlexItem:last-of-type {
  margin-top: 10%;
}

#about .sectionsFlex .sectionFlexItem:last-of-type .content {
  margin-top: 0;
}

#about .sectionsFlex .sectionFlexItem img {
  display: block;
  box-shadow: 0px 10px 10px rgba(25, 25, 25, 0.2);
}

#about .sectionsFlex .sectionFlexItem blockquote {
  font-weight: bold;
  background-image: url("http://res.cloudinary.com/dndvaqitq/image/upload/o_20/v1531164937/portfolio/quotes.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 5% 8%;
  margin: 12% 0;
  font-size: 1.2rem;
}

#about .sectionsFlex .sectionFlexItem blockquote .italic {
  font-style: italic;
  font-weight: normal;
}

#about .sectionsFlex .sectionFlexItem .content .buttons {
  margin: 10% -2% 0 -2%
}

#about .sectionsFlex .sectionFlexItem .content .buttons .btn {
  border: 1.5px solid #0d86b6;
  color: #252525;
  margin: 0 2%;
}

#about .sectionsFlex .sectionFlexItem .content .buttons .btn.primary {
  background-color: #0d86b6;
  color: #EEEEEE;
}

/* skills */

#skills {
  position: relative;
  text-align: center;
  padding-bottom: 10%;
  color: #EEEEEE;
  background: linear-gradient( to bottom, rgba(35, 35, 35, 1), rgba(35, 35, 35, 1) 50%, rgba(238, 238, 238, 0) 50%, rgba(238, 238, 238, 0));
  background-size: 100% 119%;
}

#skills .bgImage {
  background: linear-gradient( to bottom, rgba(35, 35, 35, 1), rgba(35, 35, 35, 1) 50%, rgba(35, 35, 35, 0.96) 50%, rgba(35, 35, 35, 0.96));
}

#skills h2 {
  padding: 20% 0 7% 0;
  color: #4db8e3;
}

#skills .sectionsFlex .sectionFlexItem .content {
  padding: 0 3% 3% 3%;
  margin-bottom: 10%;
  /* text-align: left; */
}

#skills .sectionsFlex .sectionFlexItem:last-of-type {
  padding-top: 10%;
}

#skills .sectionsFlex .sectionFlexItem h3 {
  margin-bottom: 5%;
}

#skills .sectionsFlex .sectionFlexItem h3::after {
  display: block;
  content: " ";
  margin: 0 100px;
  margin-top: 5px;
  border: 0;
  height: 2px;
  background: #4db8e3;
}

#skills .sectionsFlex .sectionFlexItem hr {
  margin: 0;
  background-color: #EEEEEE;
}

#skills .sectionsFlex .sectionFlexItem hr {
  margin: 0;
  background-color: #EEEEEE;
}

#skills .sectionsFlex .sectionFlexItem h3 {
  color: #EEEEEE;
}

#skills .sectionsFlex .sectionFlexItem .sectionFlexItemImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 3%;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

#skills .sectionsFlex .sectionFlexItem .sectionFlexItemImages div {
  flex: 0 0 20%;
  margin: 2%;
  margin-top: 0;
}

#skills .sectionsFlex .sectionFlexItem .sectionFlexItemImages>p {
  flex-basis: 100%;
  align-self: center;
  text-align: center;
  color: black;
  background-image: repeating-linear-gradient( -45deg, #CCCCCC, #CCCCCC 10px, #EEEEEE 10px, #EEEEEE 20px);
  border-radius: 5px;
  background-size: 28px 28px;
  animation: loading .5s linear infinite;
  margin: 0 5%;
}

#skills .sectionsFlex .sectionFlexItem .content {
  margin: 10% 0;
}

#skills .sectionsFlex .sectionFlexItem .content .buttons {
  margin: 10% -2% 0 -2%;
}

#skills .sectionsFlex .sectionFlexItem .content .buttons .btn {
  border: 1.5px solid #4db8e3;
  color: #252525;
  background-color: #4db8e3;
  margin: 0 2%;
}

/* projects */

#projects {
  text-align: center;
  position: relative;
  background-color: #EEEEEE;
  padding: 0 3% 10% 3%;
}

#projects .bgImage {
  background-color: #EEEEEE;
}

#projects h2 {
  padding: 20% 0 7% 0;
}

#projects .sectionsFlex .sectionFlexItem {
  box-shadow: 0 0 2px rgba(25, 25, 25, 1);
  border-radius: 5px;
}

#projects .sectionsFlex .dots::after {
  content: '\25CF \25CF \25CF';
  font-size: 30px;
  line-height: 100px;
  /* color: #0d86b6; */
}

#projects .sectionsFlex .sectionFlexItem .sectionContent {
  background: #EEEEEE;
  padding-bottom: 5%;
}

#projects .sectionsFlex .sectionFlexItem .sectionContent h3 {
  font-weight: bold;
  color: #252525;
  padding: 5% 0 3% 0;
}

#projects .sectionsFlex .sectionFlexItem .sectionContent .text {
  padding: 10% 0;
  font-size: 1.2rem;
  font-weight: bold;
}

#projects .sectionsFlex .sectionFlexItem .sectionContent .text:first-of-type::after {
  display: block;
  content: " ";
  margin: 0 100px;
  margin-top: 5px;
  border: 0;
  height: 2px;
  background: #0d86b6;
}

#projects .sectionsFlex .sectionFlexItem .sectionContent .text:last-of-type {
  font-size: 1rem;
  opacity: 0.5;
  padding-bottom: 5%;
}

#projects .sectionsFlex .sectionFlexItem .icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -3%;
}

#projects .sectionsFlex .sectionFlexItem .buttons {
  padding: 5% 0 0 0;
  flex-wrap: wrap;
}

#projects .sectionsFlex .sectionFlexItem .buttons .btn {
  border: 1.5px solid #0d86b6;
  color: #252525;
  margin: 0 3%;
  width: 42%;
}

#projects .sectionsFlex .sectionFlexItem .buttons .btn.primary {
  background-color: #0d86b6;
  color: #EEEEEE;
  width: 100%;
  margin: 6% 4%;
}

#projects .sectionsFlex .sectionFlexItem .icons div {
  flex: 0 0 20%;
  margin: 0 3%;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

#projects .sectionsFlex .sectionFlexItem .sectionImage {
  position: relative;
  width: 100%;
}

#projects .sectionsFlex .sectionFlexItem .sectionImage a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

#projects .sectionsFlex .sectionFlexItem .sectionImage img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: block;
}

#projects .sectionsFlex .sectionFlexItem .sectionImage h3 {
  position: absolute;
  bottom: 0;
  padding: 4% 0;
  background: rgba(25, 25, 25, 0.9);
  width: 100%;
  color: #4db8e3;
  font-weight: 400;
}

/* contact */

#contact {
  text-align: center;
  padding: 20% 0 7% 0;
  color: #EEEEEE;
  background: rgba(35, 35, 35, 0.96);
}

#contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact form button {
  width: 92.5%;
  align-self: center;
  padding: 5% 0;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #4db8e3;
  font-size: 1.3rem;
}

#contact form h3 {
  margin: 0% 4% 0 4%;
  padding-bottom: 3.5%;
}

#contact form h3::after {
  display: block;
  content: " ";
  margin: 0 100px;
  margin-top: 5px;
  border: 0;
  height: 2px;
  background: #4db8e3;
}

#contact form>*:not(h3) {
  margin: 6% 4%;
  padding: 3.5% 0;
  border: 0;
  font: 16px/24px 'Lora', serif;
}

/* Footer
-----------------------------------------------------------------------------*/

footer {
  background: rgba(35, 35, 35, 1);
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  color: #EEEEEE;
  font-size: 0.8rem;
  margin-top: -1px;
}

footer .soMeIcons {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

footer .soMeIcons a {
  width: 10%;
  margin: 3%;
}

footer .soMeIcons a img {
  display: block;
}

footer .footerBlueElements {
  color: #4db8e3;
}

/* ------------------ filledFormPage ------------------ */

#notificationBox {
  border: 2px solid #0d86b6;
  display: flex;
  flex-direction: column;
  margin: 2%;
  border-radius: 5px;
}

#notificationBox h2 {
  background: #0d86b6;
  color: #EEEEEE;
  padding: 3%;
  font-size: 1.3rem;
}

#notificationBox p {
  padding: 3% 5%;
  font-size: 1.1rem;
}

#notificationBox .btn {
  border: 1px solid #0d86b6;
  width: 80%;
  margin: 3% 3% 10% 3%;
  align-self: center;
  color: #252525;
  font-weight: bold;
}

/* ------------------ aboutPage ------------------ */

#bodyAboutPage #header #mobileHeader {
  position: fixed;
}

#bodyAboutPage #header #mobileHeader .headerIcons {
  background-color: #252525;
}

#bodyAboutPage #aboutPage>.headingPicture {
  position: relative;
}

#bodyAboutPage #aboutPage>.headingPicture img {
  display: block;
}

#bodyAboutPage #aboutPage>.headingPicture>h2 {
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 4% 0;
  background: rgba(25, 25, 25, 0.9);
  width: 100%;
  font-weight: 400;
  color: #4db8e3;
}

#bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .sectionFlexItemHeading h3 {
  padding: 0 3% 3% 3%;
  margin: 10% 0 2% 0;
}

#bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .sectionFlexItemHeading h3::after {
  display: block;
  content: " ";
  width: 100px;
  margin-top: 5px;
  border: 0;
  height: 2px;
  background: #0d86b6;
}

#bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .sectionFlexItemContent {
  padding: 0 3%;
}

#bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .sectionFlexItemContent p {
  margin-bottom: 1rem;
}

#bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .btn {
  border: 1.5px solid #0d86b6;
  color: #252525;
  margin: 0 3% 10% 3%;
}

#bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .buttons .btn.primary {
  background-color: #0d86b6;
  color: #EEEEEE;
}

/* ---------------------------- Different devices ---------------------------- */

@media only screen and (min-width: 400px) {
  h1 {
    font-size: 2.5rem;
    letter-spacing: 0.05rem;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.3rem;
  }
  /* Header
-----------------------------------------------------------------------------*/
  #header #mobileHeader .hamburgerMenu #hamburgerDropdown hr {
    width: 65%;
  }
  /* Home */
  #home {
    background-image: linear-gradient(rgba(25, 25, 25, 0.8), rgba(25, 25, 25, 0.8)), url('http://res.cloudinary.com/dndvaqitq/image/upload/c_scale,h_600/v1530206370/computerBg.jpg');
  }
  #home h1 {
    margin-top: 40vh;
  }
  #home .soMeIcons {
    margin: 18vh 0 16vh 0;
  }
  /* about */
  #about h2 {
    padding: 17% 0 5% 0;
  }
  #about .sectionsFlex .sectionFlexItem .content {
    margin: 8% 0 10% 0;
  }
  #about .sectionsFlex .sectionFlexItem .content h3 {
    margin-bottom: 4%;
  }
  #about .sectionsFlex .sectionFlexItem .content h3::after {
    margin: 0 130px;
  }
  #about .sectionsFlex .sectionFlexItem blockquote {
    margin: 9% 0;
  }
  /* skills */
  #skills h2 {
    padding: 17% 0 5% 0;
    color: #4db8e3;
  }
  #skills .sectionsFlex .sectionFlexItem .content {
    margin: 8% 0 10% 0;
  }
  #skills .sectionsFlex .sectionFlexItem h3 {
    margin-bottom: 4%;
  }
  #skills .sectionsFlex .sectionFlexItem h3::after {
    margin: 0 130px;
  }
  #skills .sectionsFlex .sectionFlexItem .sectionFlexItemImages div {
    flex: 0 0 15%;
    margin: 3%;
    margin-top: 0;
  }
  /* projects */
  #projects h2 {
    padding: 17% 0 5% 0;
  }
  #projects .sectionsFlex .sectionFlexItem .sectionContent .text:first-of-type::after {
    margin: 0 130px;
  }
  #projects .sectionsFlex .sectionFlexItem .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -5%;
  }
  #projects .sectionsFlex .sectionFlexItem .icons {
    margin: -6%;
  }
  #projects .sectionsFlex .sectionFlexItem .icons div {
    flex: 0 0 15%;
    margin: 0 6%;
  }
  /* contact */
  #contact {
    padding: 17% 0 5% 0;
  }
}

@media only screen and (min-width: 500px) {

}

@media only screen and (min-width: 768px) {
  #header #mobileHeader {
    display: none;
  }
  #home .arrow {
    width: 30px;
    transition: transform .5s;
  }
  #home .soMeIcons a .soMeIcon:hover {
    transform: scale(1.5);
  }
  #home .arrow:hover {
    transform: scale(1.5);
  }
  #header #desktopHeader {
    position: relative;
  }
  .sectionFlexItem .sectionImage img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    transform: scale(1.03);
  }
}