@-webkit-keyframes infColour {
  0% {color: #0d86b6}
  50% {color: #4db8e3}
  100% {color: #0d86b6}
}
@keyframes infColour {
  0% {color: #0d86b6}
  50% {color: #4db8e3}
  100% {color: #0d86b6}
}
@-webkit-keyframes loading {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 28px 0;
  }
}
@keyframes loading {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 28px 0;
  }
}
@-webkit-keyframes jello {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes trackingIn {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes trackingIn {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scale-in {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes scale-in {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 1;
  }
}
body,
html {
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

body {
  font: 16px/28px 'Lora', serif;
  color: #252525;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

img {
  max-width: 100%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.15rem;
}

.stop-scrolling {
  overflow: hidden;
  height: 100%;
}

.btn {
  display: inline-block;
  padding: 5px 0;
  width: 40%;
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
}

.btn.primary {
  font-weight: bold;
  color: #EEEEEE;
  width: 60%;
}
strong{
  font-weight: 700;
  color: black;
  opacity: 1;
  font-style: italic;
}
.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.disabled {
  cursor: default;
  pointer-events: none;
}

.transparent {
  opacity: 0.8;
}

.blackAndWhite {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.bgImage {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  z-index: -111;
}

input,
textarea {
  text-indent: 3%;
  border-radius: 5px;
  -webkit-transition: -webkit-box-shadow 0.5s linear;
  transition: -webkit-box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear, -webkit-box-shadow 0.5s linear;
}
textarea{
  resize: none;
}
input:focus,
textarea:focus {
  outline: none !important;
  border-bottom: 1px solid #4db8e3;
  -webkit-box-shadow: 0 0 2px 2px #4db8e3;
          box-shadow: 0 0 2px 2px #4db8e3;
}

/* Header
-----------------------------------------------------------------------------*/

#header {
  position: relative;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

#header #desktopHeader {
  display: none;
}

#header #mobileHeader {
  position: absolute;
  width: 100%;
  z-index: 9999999;
}

#header #mobileHeader .headerIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  opacity: 0.98;
  -webkit-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
}

#header #mobileHeader .logo {
  width: 70px;
}

#header #mobileHeader .logo img {
  width: auto;
  display: block;
}

#header #mobileHeader .cross {
  width: 35px;
  cursor: pointer;
}

#header #mobileHeader .cross img {
  display: block;
}

#header #mobileHeader .hamburgerBtn {
  width: 35px;
  cursor: pointer;
}

#header #mobileHeader .hamburgerBtn img {
  display: block;
}

#header #mobileHeader .hamburgerMenu {
  position: relative;
  height: 100vh;
  opacity: 0.97;
}

.hamburgerBg {
  position: absolute;
  top: 0;
  background: #252525;
  opacity: 0;
  z-index: -9999;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

#header #mobileHeader .hamburgerMenu #hamburgerDropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  height: 80vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2vh;
  margin-top: -1px;
}

#header #mobileHeader .hamburgerMenu #hamburgerDropdown .soMeIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -5%;
  margin-top: 12vh;
}

#header #mobileHeader .hamburgerMenu #hamburgerDropdown .soMeIcons a {
  width: 50px;
  margin: 5%
}

#header #mobileHeader .hamburgerMenu #hamburgerDropdown a {
  text-align: center;
  font-size: 1.1rem;
  text-decoration: none;
  color: #EEEEEE;
  width: 70%;
}

#header #mobileHeader .hamburgerMenu #hamburgerDropdown hr {
  width: 70%;
  margin: 3vh 0;
  background-color: #0d86b6;
  border: 0;
  height: 1px;
}

#header #mobileHeader .hamburgerMenu,
.cross {
  display: none;
}

/* Middle
-----------------------------------------------------------------------------*/

/* Home */

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 25, 25, 0.8)), to(rgba(25, 25, 25, 0.8))), url('https://res.cloudinary.com/dndvaqitq/image/upload/c_scale,h_500/v1530206370/computerBg.jpg');
  background-image: linear-gradient(rgba(25, 25, 25, 0.8), rgba(25, 25, 25, 0.8)), url('https://res.cloudinary.com/dndvaqitq/image/upload/c_scale,h_500/v1530206370/computerBg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

#home h1 {
  margin-top: 45vh;
  margin-bottom: 3vh;
  color: #EEEEEE;
	-webkit-animation: trackingIn 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: trackingIn 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

#home h2 {
  color: #0d86b6;
  text-transform: capitalize;
  -webkit-animation: trackingIn 1.5s both, infColour 3s ease-in-out infinite;
          animation: trackingIn 1.5s both, infColour 3s ease-in-out infinite;
  
}

#home .soMeIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 12vh 0 13vh 0;
  width: 100%;
}

#home .soMeIcons a {
  margin: 0 4%;
}

#home .soMeIcons a .soMeIcon {
  width: 35px;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

#home .arrow {
  width: 30px;
}

/* about */

#about {
  text-align: center;
  position: relative;
  padding-bottom: 10%;
}

#about .bgImage {
  background: #EEEEEE;
}

#about h2 {
  padding: 20% 0 5% 0;
}

#about .sectionsFlex .sectionFlexItem {
  margin: 10% 0;
}
#about .sectionsFlex .sectionFlexItem .text {
  padding:0 3%;
  margin-bottom:5%;
}

#about .sectionsFlex .sectionFlexItem .text a{
  text-decoration: none;
  color: #0d86b6;
}

#about .sectionsFlex .sectionFlexItem h3 {
  margin-bottom: 5%;
}

#about .sectionsFlex .sectionFlexItem h3::after {
  display: block;
  content: " ";
  width: 80px;
  margin: 5px auto 0;
  border: 0;
  height: 2px;
  background: #0d86b6;
}

#about .sectionsFlex .sectionFlexItem img {
  -webkit-box-shadow: 0px 10px 10px rgba(25, 25, 25, 0.2);
          box-shadow: 0px 10px 10px rgba(25, 25, 25, 0.2);
}

#about .sectionsFlex blockquote {
  font-weight: bold;
  background-image: url("https://res.cloudinary.com/dndvaqitq/image/upload/o_20/v1531164937/portfolio/quotes.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 3vh 3vw;
  margin: 12% 0;
  font-size: 1.2rem;
}

#about .sectionsFlex blockquote .italic {
  font-style: italic;
  font-weight: normal;
}

#about .sectionsFlex .sectionFlexItem .buttons {
  margin: 10% -2% 0 -2%;
  padding: 0 3%;
}

#about .sectionsFlex .sectionFlexItem .buttons .btn {
  border: 1.5px solid #0d86b6;
  color: #252525;
  margin: 0 2%;
}

#about .sectionsFlex .sectionFlexItem .buttons .btn.primary {
  background-color: #0d86b6;
  color: #EEEEEE;
}

/* skills */

#skills {
  position: relative;
  text-align: center;
  padding-bottom: 10%;
  color: black;
  background-color: #EEEEEE;
}

#skills .bgImage {
  background-color: #EEEEEE;
}

#skills h2 {
  padding: 20% 0 7% 0;
  color: #252525;
}

#skills .sectionsFlex .sectionFlexItem .content {
  padding: 0 3% 3% 3%;
  margin: 10% 0;
}

#skills .sectionsFlex .sectionFlexItem:last-of-type {
  padding-top: 10%;
}

#skills .sectionsFlex .sectionFlexItem h3 {
  margin-bottom: 5%;
}

#skills .sectionsFlex .sectionFlexItem h3::after {
  display: block;
  content: " ";
  width: 80px;
  margin: 5px auto 0;
  border: 0;
  height: 2px;
  background: #4db8e3;
}

#skills .sectionsFlex .sectionFlexItem h3 {
  color: #252525;
}

#skills .sectionsFlex .sectionFlexItem .sectionFlexItemImages {
  padding: 0 3%;
}

#skills .sectionsFlex .sectionFlexItem .sectionFlexItemImages .imagesOnly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#skills .sectionsFlex .sectionFlexItem .sectionFlexItemImages .imagesOnly div img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

#skills .sectionsFlex .sectionFlexItem .sectionFlexItemImages .imagesOnly div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  margin: 0 2.5%;
}

#skills .sectionsFlex .sectionFlexItem .sectionFlexItemImages>p {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  color: black;
  background-image: repeating-linear-gradient( -45deg, #CCCCCC, #CCCCCC 10px, #EEEEEE 10px, #EEEEEE 20px);
  border-radius: 5px;
  background-size: 28px 28px;
  -webkit-animation: loading .5s linear infinite;
          animation: loading .5s linear infinite;
  margin: 2.5% 5% 0 5%;
}

#skills .sectionsFlex .sectionFlexItem .content .buttons {
  margin: 10% -2% 0 -2%;
}

#skills .sectionsFlex .sectionFlexItem .content .buttons .btn {
  border: 1.5px solid #4db8e3;
  color: #252525;
  background-color: #4db8e3;
  margin: 0 2%;
}

/* projects */

#projects {
  text-align: center;
  position: relative;
  padding: 0 3% 20% 3%;
  /* bg-col */
}

#projects .bgImage {
  background-color: #232323;
}

#projects h2 {
  padding: 20% 0 7% 0;
  color: #0d86b6;
}

#projects .sectionsFlex .sectionFlexItem {
  -webkit-box-shadow: 0 0 2px #EEEEEE;
          box-shadow: 0 0 2px #EEEEEE;
  border-radius: 5px;
}

#projects .sectionsFlex .dots::after {
  content: '*';
  font-size: 20px;
  line-height: 100px;
  color: #0d86b6;
}

#projects .sectionsFlex .sectionFlexItem .sectionContent {
  background: #EEEEEE;
  padding-bottom: 5%;
}

#projects .sectionsFlex .sectionFlexItem .sectionContent .text {
  padding: 10% 0;
  font-size: 1.2rem;
  font-weight: bold;
}

#projects .sectionsFlex .sectionFlexItem .sectionContent .text:first-of-type::after {
  display: block;
  content: " ";
  width: 80px;
  margin: 5px auto 0;
  border: 0;
  height: 2px;
  background: #0d86b6;
}

#projects .sectionsFlex .sectionFlexItem .sectionContent .text:last-of-type {
  font-size: 1rem;
  opacity: 0.5;
  padding-bottom: 5%;
}

#projects .sectionsFlex .sectionFlexItem .sectionContent .progress {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  color: black;
  background-image: repeating-linear-gradient( -45deg, #CCCCCC, #CCCCCC 10px, #EEEEEE 10px, #EEEEEE 20px);
  border-radius: 5px;
  background-size: 28px 28px;
  -webkit-animation: loading .5s linear infinite;
          animation: loading .5s linear infinite;
  margin: 11% 5% 6% 5%;
  line-height: 1.4rem;
}

#projects .sectionsFlex .sectionFlexItem .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -3%;
}

#projects .sectionsFlex .sectionFlexItem .buttons {
  padding: 5% 0 0 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#projects .sectionsFlex .sectionFlexItem .buttons .btn {
  border: 1.5px solid #0d86b6;
  color: #252525;
  margin: 0 3%;
  width: 42%;
}

#projects .sectionsFlex .sectionFlexItem .buttons .btn.primary {
  background-color: #0d86b6;
  color: #EEEEEE;
  width: 100%;
  margin: 6% 4%;
}

#projects .sectionsFlex .sectionFlexItem .icons div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  margin: 0 3%;
}

#projects .sectionsFlex .sectionFlexItem .icons div img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

#projects .sectionsFlex .sectionFlexItem .sectionImage {
  position: relative;
  width: 100%;
}

#projects .sectionsFlex .sectionFlexItem .sectionImage a {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

#projects .sectionsFlex .sectionFlexItem .sectionImage img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: block;
}

#projects .sectionsFlex .sectionFlexItem .sectionImage h3 {
  position: absolute;
  bottom: 0;
  padding: 4% 0;
  background: rgba(25, 25, 25, 0.9);
  width: 100%;
  color: #4db8e3;
  font-weight: 400;
}

#projects .sectionsFlex .sectionFlexItem .sectionImage {
  overflow: hidden;
  position: relative;
  display: block;
}

/* contact */

#contact {
  text-align: center;
  padding: 20% 0 7% 0;
  color: #EEEEEE;
  background: rgba(35, 35, 35, 0.96);
}

#contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact form button {
  width: 92.5%;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 5% 0;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #4db8e3;
  font-size: 1.3rem;
  color: #252525;
}

#contact form h2 {
  margin: 0% 4% 0 4%;
  padding-bottom: 3.5%;
}

#contact form h2::after {
  display: block;
  content: " ";
  width: 80px;
  margin: 5px auto 0;
  border: 0;
  height: 2px;
  background: #4db8e3;
}

#contact form>*:not(h2) {
  margin: 6% 4%;
  padding: 2% 0;
  border: 0;
  font: 12px/24px 'Lora', serif;
}

/* Footer
-----------------------------------------------------------------------------*/

footer {
  background: rgba(35, 35, 35, 1);
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  color: #EEEEEE;
  font-size: 0.8rem;
  margin-top: -1px;
}

footer .soMeIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5%;
}

footer .soMeIcons a {
  width: 30px;
  margin: 3%;
}

footer .soMeIcons a img {
  display: block;
}

footer .footerBlueElements {
  color: #4db8e3;
}

/* ------------------ filledFormPage ------------------ */

#notificationBox {
  border: 2px solid #0d86b6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2%;
  border-radius: 5px;
}

#notificationBox h2 {
  background: #0d86b6;
  color: #EEEEEE;
  padding: 3%;
  font-size: 1.3rem;
}

#notificationBox p {
  padding: 3% 5%;
  font-size: 1.1rem;
}

#notificationBox .btn {
  border: 1px solid #0d86b6;
  width: 80%;
  margin: 3% 3% 10% 3%;
  -ms-flex-item-align: center;
      align-self: center;
  color: #252525;
  font-weight: bold;
}

/* ------------------ aboutPage ------------------ */

#bodyAboutPage #header #mobileHeader {
  position: fixed;
}

#bodyAboutPage #header #mobileHeader .headerIcons {
  background-color: #252525;
}

#bodyAboutPage #aboutPage>.headingPicture {
  position: relative;
}

#bodyAboutPage #aboutPage>.headingPicture img {
  display: block;
}

#bodyAboutPage #aboutPage>.headingPicture>h2 {
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 4% 0;
  background: rgba(25, 25, 25, 0.9);
  width: 100%;
  font-weight: 400;
  color: #4db8e3;
}

#bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .sectionFlexItemHeading h3 {
  padding: 0 3% 3% 3%;
  margin: 10% 0 2% 0;
}

#bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .sectionFlexItemHeading h3::after {
  display: block;
  content: " ";
  width: 80px;
  margin-top: 5px;
  border: 0;
  height: 2px;
  background: #0d86b6;
}

#bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .sectionFlexItemContent {
  padding: 0 3%;
}

#bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .sectionFlexItemContent p {
  margin-bottom: 1rem;
}

#bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .btn {
  border: 1.5px solid #0d86b6;
  color: #252525;
  margin: 0 3% 10% 3%;
}

#bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .buttons .btn.primary {
  background-color: #0d86b6;
  color: #EEEEEE;
}

/* ---------------------------- Different devices ---------------------------- */

@media only screen and (min-width: 400px) {
  h1 {
    font-size: 2.5rem;
    letter-spacing: 0.05rem;
  }
  h2 {
    font-size: 1.6em;
  }
  /* Header
-----------------------------------------------------------------------------*/
  #header #mobileHeader .hamburgerMenu #hamburgerDropdown hr {
    width: 65%;
  }
  /* Home */
  #home {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 25, 25, 0.8)), to(rgba(25, 25, 25, 0.8))), url('https://res.cloudinary.com/dndvaqitq/image/upload/c_scale,h_600/v1530206370/computerBg.jpg');
    background-image: linear-gradient(rgba(25, 25, 25, 0.8), rgba(25, 25, 25, 0.8)), url('https://res.cloudinary.com/dndvaqitq/image/upload/c_scale,h_600/v1530206370/computerBg.jpg');
  }
  #home h1 {
    margin-top: 40vh;
  }
  #home .soMeIcons {
    margin: 18vh 0 16vh 0;
  }
  /* about */
  #about h2 {
    padding: 17% 0 5% 0;
  }
  #about .sectionsFlex .sectionFlexItem {
    margin: 8% 0 10% 0;
  }
  #about .sectionsFlex .sectionFlexItem h3 {
    margin-bottom: 4%;
  }
  #about .sectionsFlex .sectionFlexItem blockquote {
    margin: 9% 0;
    padding: 8% 12%;
  }
  /* skills */
  #skills h2 {
    padding: 17% 0 5% 0;
  }
  #skills .sectionsFlex .sectionFlexItem .content {
    margin: 8% 0 10% 0;
  }
  #skills .sectionsFlex .sectionFlexItem h3 {
    margin-bottom: 4%;
  }
  #skills .sectionsFlex .sectionFlexItem .sectionFlexItemImages .imagesOnly div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
    margin: 0 3%;
  }
  /* projects */
  #projects h2 {
    padding: 17% 0 5% 0;
  }
  #projects .sectionsFlex .sectionFlexItem .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -5%;
  }
  #projects .sectionsFlex .sectionFlexItem .icons {
    margin: -3%;
    padding: 0 15%
  }
  #projects .sectionsFlex .sectionFlexItem .icons div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    margin: 0 3%;
  }
  /* contact */
  #contact {
    padding: 17% 0 5% 0;
  }
}

@media only screen and (min-width: 500px) {
  input,
  textarea {
    text-indent: 2%;
  }
  h1 {
    letter-spacing: 0.2rem;
  }
  h2 {
    letter-spacing: 0.1rem;
  }
  /* Header
  -----------------------------------------------------------------------------*/
  #header #mobileHeader .hamburgerMenu #hamburgerDropdown a {
    width: 50%;
  }
  #header #mobileHeader .hamburgerMenu #hamburgerDropdown hr {
    width: 50%;
  }
  /* Home */
  #home {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 25, 25, 0.8)), to(rgba(25, 25, 25, 0.8))), url('https://res.cloudinary.com/dndvaqitq/image/upload/c_scale,h_600/v1530206370/computerBg.jpg');
    background-image: linear-gradient(rgba(25, 25, 25, 0.8), rgba(25, 25, 25, 0.8)), url('https://res.cloudinary.com/dndvaqitq/image/upload/c_scale,h_600/v1530206370/computerBg.jpg');
  }
  #home .soMeIcons a {
    margin: 0 3%;
  }
  /* about */
  #about {
    padding-bottom: 8%;
  }
  #about h2 {
    padding: 12% 0 5% 0;
  }
  #about .sectionsFlex .sectionFlexItem {
    padding: 0 7% 3% 7%;
    margin: 7% 0 7% 0;
  }
  #about .sectionsFlex .sectionFlexItem blockquote {
    padding: 8% 15%;
    margin: 8% 0%;
  }
  /* skills */
  #skills {
    padding-bottom: 8%;
  }
  #skills h2 {
    padding: 12% 0 5% 0;
  }
  #skills .sectionsFlex .sectionFlexItem .content {
    padding: 0 7% 3% 7%;
    margin: 7% 0 7% 0;
  }
  /* projects */
  #projects {
    padding: 0 7% 20% 7%;
  }
  #projects h2 {
    padding: 12% 0 5% 0;
  }
  #projects .sectionsFlex .sectionFlexItem .sectionContent .text {
    padding: 10% 4%;
  }
  #projects .sectionsFlex .sectionFlexItem .sectionImage h3 {
    padding: 3% 0;
  }
  #projects .sectionsFlex .sectionFlexItem .icons {
    margin: -3%;
    padding: 0 30%
  }
  #projects .sectionsFlex .sectionFlexItem .icons div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    margin: 0 3%;
  }
  /* contact */
  #contact {
    padding: 12% 0 5% 0;
  }
  #contact form button {
    width: 50%;
  }
  #contact form h2 {
    font-size: 1.6rem;
  }
  #contact form>*:not(h2) {
    margin: 3% 4%;
    padding: 1.5% 0;
  }
  /* Footer
  -----------------------------------------------------------------------------*/
  footer .soMeIcons a {
    margin: 2.5%;
  }
  /* ------------------ filledFormPage ------------------ */
  #notificationBox .btn {
    width: 50%;
  }
  /* ------------------ aboutPage ------------------ */
  #bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .sectionFlexItemHeading h3 {
    margin: 5% 0 0 0;
  }
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.1rem;
    letter-spacing: 0.2;
  }
  /* Home */
  #home {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 25, 25, 0.8)), to(rgba(25, 25, 25, 0.8))), url('https://res.cloudinary.com/dndvaqitq/image/upload/c_scale,h_700/v1530206370/computerBg.jpg');
    background-image: linear-gradient(rgba(25, 25, 25, 0.8), rgba(25, 25, 25, 0.8)), url('https://res.cloudinary.com/dndvaqitq/image/upload/c_scale,h_700/v1530206370/computerBg.jpg');
  }
  #home .soMeIcons a {
    margin: 0 2%;
  }
  /* about */
  #about {
    padding-bottom: 11%;
  }
  #about h2 {
    padding: 9% 0 5% 0;
  }
  #about .sectionsFlex .sectionFlexItem {
    padding: 0 10%;
    margin: 6% 0 6% 0;
  }
  #about .sectionsFlex .sectionFlexItem .buttons {
    margin: 5% -2% 0 -2%
  }
  #about .sectionsFlex .sectionFlexItem blockquote {
    padding: 8% 12%;
    margin: 8% 5% 5% 5%;
  }
  /* skills */
  #skills {
    padding-bottom: 10%;
  }
  #skills h2 {
    padding: 9% 0 5% 0;
  }
  #skills .sectionsFlex .sectionFlexItem .content {
    padding: 0 10%;
    margin: 6% 0 6% 0;
  }
  #skills .sectionsFlex .sectionFlexItem .sectionFlexItemImages .imagesOnly {
    padding: 0 20%;
  }
  #skills .sectionsFlex .sectionFlexItem .sectionFlexItemImages .imagesOnly div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
    margin: 0 3%;
  }
  #skills .sectionsFlex .sectionFlexItem .sectionFlexItemImages>p {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
    margin: 2% 8%;
  }
  #skills .sectionsFlex .sectionFlexItem .content .buttons {
    margin: 5% -2% 0 -2%
  }
  /* projects */
  #projects {
    padding: 0 10% 20% 10%;
  }
  #projects h2 {
    padding: 10.5% 0 5% 0;
  }
  #projects .sectionsFlex .sectionFlexItem .sectionContent .text {
    padding: 8% 4%;
  }
  /* contact */
  #contact {
    padding: 9% 0 5% 0;
  }
  #contact form .btn {
    width: 40%;
    cursor: pointer;
  }
  #contact form>*:not(h2) {
    margin: 3% 12%;
    padding: 1% 0;
  }
  /* Footer
  -----------------------------------------------------------------------------*/
  footer .soMeIcons a {
    margin: 2.5%;
  }
  footer {
    padding-top: 4%;
    padding-bottom: 4%;
  }
  footer .soMeIcons {
    margin-bottom: 1%;
  }
  /* ------------------ filledFormPage ------------------ */
  #notificationBox .btn {
    width: 40%;
  }
  /* ------------------ aboutPage ------------------ */
  #bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .sectionFlexItemHeading h3 {
    margin: 3% 0 0 0;
  }
  #bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .btn {
    margin: 0 3% 7% 3%;
  }
}

@media only screen and (min-width: 768px) {
  #header #mobileHeader {
    display: none;
  }
  #header #desktopHeader.fixedHeader {
    position: fixed;
    background: #353535;
    padding: 5px 30px;
  }
  #header #desktopHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 9999999;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px 30px;
    -webkit-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
  }
  #header #desktopHeader .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -15px;
  }
  #header #desktopHeader .links a {
    margin: 0 15px;
    -ms-flex-item-align: center;
        align-self: center;
    color: #EEEEEE;
    text-decoration: none;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
  #header #desktopHeader .links a:hover {
    color: #4db8e3;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  #header #desktopHeader .headerIcons a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80px;
  }
  #header #desktopHeader .headerIcons a img {
    -ms-flex-item-align: center;
        align-self: center;
  }  
  #header #desktopHeader .headerIcons a img:hover {
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-animation: jello 0.9s both;
            animation: jello 0.9s both;
  }


  .soMeIcons a:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  h1 {
    font-size: 3rem;
    letter-spacing: 0.3;
    line-height: 2.5rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  .btn {
    -webkit-transition: all ease-in 0.5s;
    transition: all ease-in 0.5s;
  }
  /* Home */
  #home {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 25, 25, 0.8)), to(rgba(25, 25, 25, 0.8))), url('https://res.cloudinary.com/dndvaqitq/image/upload/c_scale,h_900/v1530206370/computerBg.jpg');
    background-image: linear-gradient(rgba(25, 25, 25, 0.8), rgba(25, 25, 25, 0.8)), url('https://res.cloudinary.com/dndvaqitq/image/upload/c_scale,h_900/v1530206370/computerBg.jpg');
  }
  #home .soMeIcons a {
    margin: 0 1.5%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  #home .arrow {
    -webkit-transition: all ease-in 0.5s;
    transition: all ease-in 0.5s;
  }
  #home .arrow:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  /* about */
  #about {
    padding-bottom: 9%;
  }
  #about h2 {
    padding: 8% 0 3% 0;
  }
  #about .sectionsFlex .sectionFlexItem {
    padding: 0 15%;
    margin: 5% 0 5% 0;
  }
  #about .sectionsFlex .sectionFlexItem blockquote {
    padding: 10% 25%;
    margin: 5% 0% 5% 0%;
    background-image: url("https://res.cloudinary.com/dndvaqitq/image/upload/o_20/v1531164937/portfolio/quotes.png");
  }
  #about .sectionsFlex .sectionFlexItem .buttons .btn:hover {
    background: #0d86b6;
    color: #EEEEEE;
  }
  #about .sectionsFlex .sectionFlexItem .buttons .btn.primary:hover {
    background: #EEEEEE;
    color: #0d86b6;
  }
  /* skills */
  #skills {
    padding-bottom: 9%;
    background-size: 100% 112%;
  }
  #skills h2 {
    padding: 8% 0 5% 0;
  }
  #skills .sectionsFlex .sectionFlexItem .content {
    padding: 0 15%;
    margin: 5% 0 5% 0;
  }
  #skills .sectionsFlex .sectionFlexItem .sectionFlexItemImages .imagesOnly {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  #skills .sectionsFlex .sectionFlexItem .sectionFlexItemImages .imagesOnly div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 12%;
            flex: 0 0 12%;
    margin: 0 2%;
  }
  #skills .sectionsFlex .sectionFlexItem .sectionFlexItemImages>p {
    margin: 2% 25%;
  }
  #skills .sectionsFlex .sectionFlexItem .sectionFlexItemImages .imagesOnly div img {
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s
  }
  #skills .sectionsFlex .sectionFlexItem .sectionFlexItemImages .imagesOnly div img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
  #skills .sectionsFlex .sectionFlexItem .buttons .btn.primary:hover {
    background: #EEEEEE;
  }
  /* projects */
  #projects {
    padding: 0 10% 15% 10%;
  }
  #projects h2 {
    padding: 9% 0 5% 0;
  }
  .dots {
    display: none;
  }
  #projects .sectionsFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -3%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #projects .sectionsFlex .sectionFlexItem {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    margin: 2.5%;
    -webkit-transition: -webkit-box-shadow ease-in-out 0.5s;
    transition: -webkit-box-shadow ease-in-out 0.5s;
    transition: box-shadow ease-in-out 0.5s;
    transition: box-shadow ease-in-out 0.5s, -webkit-box-shadow ease-in-out 0.5s;
  }
  #projects .sectionsFlex .sectionFlexItem:hover {
    -webkit-box-shadow: 0 0 10px #0d86b6;
            box-shadow: 0 0 10px #0d86b6;
  }
  #projects .sectionsFlex .sectionFlexItem .sectionImage img {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #projects .sectionsFlex .sectionFlexItem .sectionImage img:hover {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  #projects .sectionsFlex .sectionFlexItem .sectionContent .text {
    padding: 10% 0;
  }
  #projects .sectionsFlex .sectionFlexItem .buttons {
    padding: 5% 0 5% 0;
  }
  #projects .sectionsFlex .sectionFlexItem .sectionContent {
    padding-bottom: 0;
  }
  #projects .sectionsFlex .sectionFlexItem .icons {
    padding: 0 15%
  }
  #projects .sectionsFlex .sectionFlexItem .buttons .btn:hover {
    background: #0d86b6;
    color: #EEEEEE;
  }
  #projects .sectionsFlex .sectionFlexItem .buttons .btn.primary:hover {
    background: #EEEEEE;
    color: #0d86b6;
  }
  #projects .sectionsFlex .sectionFlexItem .icons div img {
    -webkit-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s
  }
  #projects .sectionsFlex .sectionFlexItem .icons div img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
  /* contact */
  #contact {
    padding: 8% 0 5% 0;
  }
  #contact form .btn {
    width: 40%;
  }
  #contact form .btn:hover {
    background: #0d86b6;
    color: #EEEEEE;
  }
  #contact form>*:not(h2) {
    margin: 2% 15%;
    padding: 1% 0;
  }
  /* Footer
  -----------------------------------------------------------------------------*/
  footer .soMeIcons a {
    margin: 2%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  footer {
    padding-top: 4%;
    padding-bottom: 4%;
  }
  footer .soMeIcons {
    margin-bottom: 1%;
  }
  /* ------------------ filledFormPage ------------------ */
  #notificationBox h2 {
    font-size: 1.5rem;
  }
  #notificationBox p {
    padding: 2% 3%;
    font-size: 1.2rem;
  }
  #notificationBox .btn {
    width: 40%;
    margin: 2% 3% 5% 3%;
    font-size: 1.2rem;
    padding: 1%;
  }
  /* ------------------ aboutPage ------------------ */
  #bodyAboutPage #header #desktopHeader {
    position: fixed;
    background: #353535;
    padding: 5px 30px;
  }
  #bodyAboutPage #aboutPage>.headingPicture>h2 {
    padding: 2.5% 0;
  }
  #bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .sectionFlexItemHeading h3 {
    padding: 0 15% 3% 15%;
  }
  #bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .sectionFlexItemHeading h3::after {
    margin-top: 3px;
  }
  #bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .sectionFlexItemContent {
    padding: 0 15%;
  }
  #bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .sectionFlexItemContent p {
    margin-bottom: 0.8rem;
  }
  #bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .btn {
    border: 1.5px solid #0d86b6;
    color: #252525;
    margin: 2%;
  }
  #bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .btn:hover {
    background: #0d86b6;
    color: #EEEEEE;
  }
  #bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .btn.primary:hover {
    background: #EEEEEE;
    color: #0d86b6;
  }
  #bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .buttons {
    margin: 0 13% 5% 13%;
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 3.5rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  #header #desktopHeader {
    padding: 20px 9%;
  }
  #header #desktopHeader.fixedHeader {
    padding: 5px 9%;
  }
  /* Home */
  #home {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 25, 25, 0.8)), to(rgba(25, 25, 25, 0.8))), url('https://res.cloudinary.com/dndvaqitq/image/upload/c_scale,h_1200/v1530206370/computerBg.jpg');
    background-image: linear-gradient(rgba(25, 25, 25, 0.8), rgba(25, 25, 25, 0.8)), url('https://res.cloudinary.com/dndvaqitq/image/upload/c_scale,h_1200/v1530206370/computerBg.jpg');
  }
  #home .arrow {
    margin-bottom:3vh;
  }
  /* about */
  #about {
    padding-bottom: 15%;
    text-align: left;
  }
  #about h2 {
    padding: 6% 0 4% 0;
    text-align: center;
  }
  #about .sectionsFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 10%;
    margin: -5%;
  }
  #about .sectionsFlex .sectionFlexItem {
    margin: 5%;
    flex: 0 0 40%;
    padding: 0;
  }

  #about .sectionsFlex .sectionFlexItem img {
    -webkit-box-shadow: 5px 5px 20px rgba(25, 25, 25, 0.5);
            box-shadow: 5px 5px 20px rgba(25, 25, 25, 0.5);
  }
  #about .sectionsFlex .sectionFlexItem h3::after {
    margin: 5px 0;
  }
  #about .sectionsFlex .sectionFlexItem:first-of-type {
    -ms-flex-item-align: center;
        align-self: center;
  }
  #about .sectionsFlex .sectionFlexItem .buttons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #about .sectionsFlex .sectionFlexItem blockquote {
    padding: 7% 5%;
    margin:0;
  }
  /* skills */
  #skills {
    padding-bottom: 7%;
    text-align: left;
  }

  #skills h2 {
    padding: 6% 0 5% 0;
    text-align: center;
  }
  #skills .sectionsFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 0 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -5%;
  }
  #skills .sectionsFlex .sectionFlexItem {
    margin: 5%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
  #skills .sectionsFlex .sectionFlexItem:last-of-type {
    -ms-flex-item-align: center;
        align-self: center;
    padding-top: 0;
  }
  #skills .sectionsFlex .sectionFlexItem .content {
    padding: 0;
    margin: 8% 0;
  }
  #skills .sectionsFlex .sectionFlexItem .content h3::after {
    margin: 5px 0;
  }
  #skills .sectionsFlex .sectionFlexItem .sectionFlexItemImages .imagesOnly {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0;
    margin: -3%;
  }
  #skills .sectionsFlex .sectionFlexItem .sectionFlexItemImages .imagesOnly div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 14%;
            flex: 0 0 14%;
    margin: 0 3%;
  }
  #skills .sectionsFlex .sectionFlexItem .sectionFlexItemImages {
    padding: 0;
  }
  #skills .sectionsFlex .sectionFlexItem .buttons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  #skills .sectionsFlex .sectionFlexItem:last-of-type .buttons .btn {
    display: none;
  }
  #skills .sectionsFlex .sectionFlexItem .sectionFlexItemImages>p {
    margin: 3% 0;
  }
  /* projects */
  #projects {
    padding: 0 0 15% 0;
  }
  #projects h2 {
    padding: 6% 0 4% 0;
  }
  #projects .sectionsFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -1.5%;
    padding: 0 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #projects .sectionsFlex .sectionFlexItem {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 22%;
            flex: 0 0 22%;
    margin: 1.5%;
  }
  #projects .sectionsFlex .sectionFlexItem .sectionContent .text {
    padding: 15% 0;
  }
  #projects .sectionsFlex .sectionFlexItem .buttons {
    padding: 5% 0 5% 0;
  }
  #projects .sectionsFlex .sectionFlexItem .sectionContent {
    padding-bottom: 3%;
  }
  #projects .sectionsFlex .sectionFlexItem .icons {
    padding: 0 5%
  }
  #projects .sectionsFlex .sectionFlexItem .sectionContent .progress {
    margin: 14% 5% 9% 5%;
    line-height: 1.4rem;
  }
  /* contact */
  #contact {
    padding: 0 0 3% 0;
  }
  #contact form h2 {
    padding: 6% 0 1% 0;
  }
  #contact form .btn {
    width: 30%;
  }
  #contact form>*:not(h2) {
    margin: 1.5% 25%;
    padding: 0.6% 0;
  }
  /* Footer
  -----------------------------------------------------------------------------*/
  footer .soMeIcons a {
    margin: 1.5%;
  }
  footer {
    padding-top: 2%;
    padding-bottom: 2%;
  }
  footer .soMeIcons {
    margin-bottom: 0;
  }
  /* ------------------ filledFormPage ------------------ */
  #notificationBox h2 {
    font-size: 1.5rem;
  }
  #notificationBox p {
    padding: 2% 3% 0 3%;
    font-size: 1.2rem;
  }
  #notificationBox .btn {
    width: 30%;
    margin: 2% 0 3% 0;
    font-size: 1.2rem;
    padding: 1%;
  }
  /* ------------------ aboutPage ------------------ */
  #bodyAboutPage #header #desktopHeader {
    position: fixed;
    background: #353535;
    padding: 5px 9%;
  }
  #bodyAboutPage #aboutPage>.headingPicture>h2 {
    padding: 2% 0;
  }
  #bodyAboutPage #aboutPage>.headingPicture {
    margin: 0 10%;
  }
  #bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .sectionFlexItemHeading h3 {
    padding: 0 20% 2% 20%;
    margin-top: 2%;
  }
  #bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .sectionFlexItemHeading img {
    width: 80%;
    margin: 0 10%;
  }
  #bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .sectionFlexItemHeading h3::after {
    margin-top: 3px;
  }
  #bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .sectionFlexItemContent {
    padding: 0 20%;
  }
  #bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .sectionFlexItemContent p {
    margin-bottom: 0.8rem;
  }
  #bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .btn {
    border: 1.5px solid #0d86b6;
    color: #252525;
    margin: 2%;
  }
  #bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .buttons {
    margin: 0 19% 3% 19%;
  }
}

@media only screen and (min-width: 1250px) {
  /* Home */
  #home {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 25, 25, 0.8)), to(rgba(25, 25, 25, 0.8))), url('https://res.cloudinary.com/dndvaqitq/image/upload/c_scale,h_1400/v1530206370/computerBg.jpg');
    background-image: linear-gradient(rgba(25, 25, 25, 0.8), rgba(25, 25, 25, 0.8)), url('https://res.cloudinary.com/dndvaqitq/image/upload/c_scale,h_1400/v1530206370/computerBg.jpg');
  }
  #home h1{
    font-size: 4rem;
    line-height: 4rem;
  }
  /* about */
  #about .sectionsFlex .sectionFlexItem blockquote {
    padding: 7% 3%;
  }
  /* skills */
  #skills .sectionsFlex .sectionFlexItem .sectionFlexItemImages .imagesOnly {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0;
    margin: -2%;
  }
  #skills .sectionsFlex .sectionFlexItem .sectionFlexItemImages .imagesOnly div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 12%;
            flex: 0 0 12%;
    margin: 0 2%;
  }
  #skills .sectionsFlex .sectionFlexItem .sectionFlexItemImages>p {
    margin: 5% 0;
  }
  /* projects */

  #projects .sectionsFlex .sectionFlexItem .sectionContent .text {
    padding: 10% 0;
  }
  #projects .sectionsFlex .sectionFlexItem .sectionContent .progress {
    margin: 11% 5% 6% 5%;
    line-height: 1.4rem;
  }
  /* contact */
  #contact form h2 {
    padding: 5% 0 1% 0;
  }
  /* ------------------ filledFormPage ------------------ */
  #notificationBox {
    margin: 0 20%;
  }
  #notificationBox h2 {
    font-size: 1.5rem;
  }
  #notificationBox p {
    padding: 4% 0 0 3%;
    font-size: 1.2rem;
  }
  #notificationBox .btn {
    width: 40%;
    margin: 3% 0 4% 0;
    font-size: 1.2rem;
    padding: 1%;
  }
  #bodyAboutPage #aboutPage>.headingPicture {
    margin: 0 15%;
  }
  #bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .sectionFlexItemHeading img {
    width: 70%;
    margin: 0 15%;
  }
}

@media only screen and (min-width: 1500px) {
  #header #desktopHeader {
    padding: 20px 14%;
  }
  #header #desktopHeader.fixedHeader {
    padding: 5px 14%;
  }
  /* Home */
  #home {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 25, 25, 0.8)), to(rgba(25, 25, 25, 0.8))), url('https://res.cloudinary.com/dndvaqitq/image/upload/c_scale,h_1600/v1530206370/computerBg.jpg');
    background-image: linear-gradient(rgba(25, 25, 25, 0.8), rgba(25, 25, 25, 0.8)), url('https://res.cloudinary.com/dndvaqitq/image/upload/c_scale,h_1600/v1530206370/computerBg.jpg');
  }
  #home h1{
    font-size: 4.5rem;
    line-height: 5rem;
  }
  #home h2{
    font-size: 2.5rem;
  }
  #home .soMeIcons a {
    margin: 0 1%;
  }
  /* about */
  #about {
    padding-bottom: 12%;
  }
  #about h2 {
    padding: 4% 0 2% 0;
    text-align: center;
  }
  #about .sectionsFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 15%;
    margin: -3%;
  }
  #about .sectionsFlex .sectionFlexItem {
    margin: 3%;
  }
  #about .sectionsFlex .sectionFlexItem blockquote {
    padding: 9% 20%;
  }
  /* skills */
  #skills {
    padding-bottom: 7%;
  }
  #skills h2 {
    padding: 5% 0 5% 0;
  }
  #skills .sectionsFlex {
    padding: 0 15%;
    margin: -3%;
  }
  #skills .sectionsFlex .sectionFlexItem {
    margin: 3%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 44%;
            flex: 0 0 44%;
  }
  #skills .sectionsFlex .sectionFlexItem .content {
    margin: 5% 0;
  }
  /* projects */
  #projects h2 {
    padding: 5% 0 4% 0;
  }
  #projects .sectionsFlex {
    margin: -1%;
    padding: 0 15%;
  }
  #projects .sectionsFlex .sectionFlexItem {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 23%;
            flex: 0 0 23%;
    margin: 1%;
  }
  #projects .sectionsFlex .sectionFlexItem .sectionContent .text {
    padding: 15% 0;
  }
  #projects .sectionsFlex .sectionFlexItem .sectionContent .progress {
    margin: 14% 5% 8% 5%;
    line-height: 1.4rem;
  }
  /* contact */
  #contact {
    padding: 0 0 2% 0;
  }
  #contact form h2 {
    padding: 5% 0 1% 0;
  }
  #contact form .btn {
    width: 20%;
  }
  #contact form>*:not(h2) {
    margin: 1% 30%;
    padding: 0.4% 0;
  }
  /* Footer
  -----------------------------------------------------------------------------*/
  footer .soMeIcons a {
    margin: 1%;
  }
  /* ------------------ aboutPage ------------------ */
  #bodyAboutPage #aboutPage>.headingPicture {
    margin: 0 20%;
  }
  #bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .sectionFlexItemHeading img {
    width: 60%;
    margin: 0 20%;
  }
  #bodyAboutPage #header #desktopHeader {
    position: fixed;
    background: #353535;
    padding: 5px 15%;
  }
  #bodyAboutPage #aboutPage>.headingPicture>h2 {
    padding: 1.5% 0;
  }
  #bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .sectionFlexItemHeading h3 {
    padding: 0 25% 1% 25%;
  }
  #bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .sectionFlexItemHeading h3::after {
    margin-top: 3px;
  }
  #bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .sectionFlexItemContent {
    padding: 0 25%;
  }
  #bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .sectionFlexItemContent p {
    margin-bottom: 0.8rem;
  }
  #bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .btn {
    border: 1.5px solid #0d86b6;
    color: #252525;
    margin: 2%;
  }
  #bodyAboutPage #aboutPage .sectionsFlex .sectionFlexItem .buttons {
    margin: 0 24% 2% 24%;
  }
}